<p id="notice"><%= notice %></p>

<p>
  <strong>Produkt</strong>
  <div class="productname"><%= @product.name %></div>
</p>

<p>
  <strong>Beschreibung</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Bild</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Preis</strong>
  <%= @product.price %>EUR
</p>

<p>
  <strong>Farbe</strong>
  <%= @product.color %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
